@model HairSalon.Models.Client

<h2>Create Client</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @if (ViewBag.StylistId != null)
    {
        @Html.HiddenFor(model => model.StylistId, new { value = ViewBag.StylistId })
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @if (ViewBag.StylistId == null)
        {
            @Html.LabelFor(model => model.StylistId)
            @Html.DropDownList("StylistId", (SelectList)ViewBag.StylistSelectList, "Select a Stylist", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StylistId, "", new { @class = "text-danger" })
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @if (ViewBag.StylistId != null)
        {
            @Html.ActionLink("Cancel", "Index", "Stylists", new { id = ViewBag.StylistId }, new { @class = "btn btn-secondary" })
        }
        else
        {
            @Html.ActionLink("Cancel", "Index", "Clients", new { }, new { @class = "btn btn-secondary" })
        }
    </div>
}
