@model List<HairSalon.Models.Client>

<h2>List of Clients</h2>

<ul>
    @foreach (var client in Model)
    {
        <li>
            @client.Name - @client.Phone - @client.Email
            <a href="@Url.Action("Details", new { id = client.Id })" class="btn btn-primary">Details</a>
        </li>
    }
</ul>

<p>
    <a href="@Url.Action("Create", "Clients")" class="btn btn-primary">Add New Client</a>
    <a href="@Url.Action("Index", "Stylists")" class="btn btn-secondary">Back to Stylist List</a>
</p>
