@model List<HairSalon.Models.Stylist>

<h2>List of Stylists</h2>

<ul>
    @foreach (var stylist in Model)
    {
        <li>
            @stylist.Name - @stylist.Specialty
            <a href="@Url.Action("Details", "Stylists", new { id = stylist.Id })" class="btn btn-primary">Details</a>
            <a href="@Url.Action("Create", "Clients", new { stylistId = stylist.Id })" class="btn btn-primary">Add Client</a>
        </li>
    }
</ul>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Add Stylist</a>
</p>
